.*
!.devcontainer
.devcontainer/devcontainer.env
.private
wk1/2_docker_sql/ny_taxi_postgres_data
wk1/2_docker_sql/data
wk1/2_docker_sql/services:.md
wk1/2_docker_sql/yellow_tripdata_2021-01.csv.gz
wk1/2_docker_sql/yellow_tripdata_2021-07.csv.gz
wk1/1_terraform_gcp/terraform/terraform.tfstate
wk1/1_terraform_gcp/terraform/terraform.tfstate.backup
module2/data/green/*
module2/data/yellow/*
module2/flows/02_gcp/__pycache__
module2/gcspull
module3/tmp
module3/mod3_homework_answers.sql
module4/tmp
module4/*.csv.gz
module4/*.parquet
module5/fhvhv/*
module5/fhvhv*
module5/zones*
module6/resources/*
module6/streams-example/*
module6/data/fhv_tripdata_2019-01.csv.gz
module6/data/green_tripdata_2019-01.csv.gz
